<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="InternalTrace.log">
  
  <targets>
    <target name="blackhole" xsi:type="Null" />
    <target name="console"   xsi:type="Console" /> 
    <target name="logfile"   xsi:type="File" fileName="Trace.log" layout="${message}" />
    <!--<target name="ai"        xsi:type='ApplicationInsightsTarget' InstrumentationKey="57f77273-138c-48a3-a802-0e1c0676b081" layout="${message}" />"-->
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="logfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true" />
  </rules>
</nlog>