@page "/"

<div class="page-header">
    <h1>Taskin</h1>
</div>

<h>Welcome to <b>Taskin</b> project</h>

@*<div class="p-3 mb-2 bg-dark">
    <img class="img-fluid" src="/assets/Wide310x150Logo.scale-400.png" />
</div>*@
